* {
    font-family: 'segoe ui';
    font-size: 25px;
}

.title {
    background: blue;
    font-size: 30px;
    border: 10px solid blue;
    width: 30%;
    color: white
}

.exchange {
    background: lightyellow;
    border: 10px solid blue;
}