// override defalt minima variables 

// width of the content area
// can be set as "px" or "%"
$content-width:    100%;
$on-palm:          800px;
$on-laptop:        100%;
$on-medium:        1000px;
$on-large:         1200px;
