@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Playfair+Display&display=swap');

$high-emph: rgba(#2c445c, 0.87);
$med-emph: rgba(#3c425d, 0.87); // 0.69
$low-emph: rgba(#3c425d, 0.69); // 0.38
$dark-grey : #9ecbd4;

$overlay: mix($dark-grey, white, 95%);
$overlay-light: mix($dark-grey, white, 86%);

.site-footer {
    background-color: #9ecbd4 !important;
    border-color: #9ecbd4 !important;
}

.site-nav,
.site-title,
.site-header {
    background-color: #2c445c;
    border-color: #2c445c;
    color: #e5bdca !important;
    font-family: "Playfair Display", serif;
    letter-spacing: 1.7px;
}

.site-title,
.site-title:visited,
.site-nav,
.page-link {
    color: #e5bdca !important;
}

html,
body,
input,
textarea,
select,
button {
    color: $high-emph !important;
    background-color: $dark-grey !important;
    font-family: "Cardo", serif !important;
}

a {
    color: #2c445c !important;
}

a:hover {
    color: $high-emph !important;
}

* {
    scrollbar-color: $dark-grey $overlay-light;
}

pre,
code {
    // BVas a lighter colour to better highlight short code words
    border-color: $overlay-light;
    background-color: $overlay;
}

.page-description {
    color: $med-emph;
}

.post-meta {
    color: $low-emph;
}

.post-content p,
.post-content li {
    color: $med-emph;
}

.btn {
    background-color: $overlay !important;
    color: $high-emph !important;
    border-color: $overlay-light !important;
}

.btn:hover {
    background-color: $dark-grey !important;
}

table th {
    background-color: $overlay;
    border-color: $overlay-light;
    color: $high-emph;
}

table td {
    background-color: $dark-grey;
    border-color: $overlay-light;
    color: $med-emph;
}

.flash {
    color: $dark-grey !important;
    filter: brightness(80%);
}

canvas {
    filter: invert(100%);
}

.post-list>li>div {
    box-shadow: none !important;
    background-color: $overlay;
    border: none !important;
}

li .post-meta-description {
    color: $med-emph !important;
}
